.margin {
  margin-top: 10%;
}
a {
  text-decoration: none;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.help-block{
  color: red;
}

#description{
  height: 100px;
}
