.editButton {
  position: relative;
  float: right;
  left: 7px;
  cursor: pointer;
}
.deleteButton {
  position: relative;
  float: right;
  color: red;
  cursor: pointer;
}

#description{
  height: 100px;
}