<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ username }} bearbeiten
    </h4>
    <button
      type="button"
      class="close btn"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Passwort</label>
        <input
          type="text"
          class="form-control"
          id="password"
          formControlName="password"
        />
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">Nutzername</label>
        <input
          type="text"
          class="form-control"
          id="username"
          formControlName="username"
        />
      </div>
      <div class="mb-3">
        <label for="phoneNumber" class="form-label">Telefonnummer</label>
        <input
          type="text"
          class="form-control"
          id="phoneNumber"
          formControlName="phoneNumber"
        />
      </div>
      <div class="mb-3">
        <label for="userRole" class="form-label">Rolle</label>
        <select
          class="form-select"
          id="userRole"
          aria-label="Default select example"
          formControlName="userRole"
        >
          <option value="member">Nutzer</option>
          <option value="redakteur">Redakteur</option>
          <option value="admin">Admin</option>
        </select>
      </div>
      <button
        class="btn btn-primary"
        [disabled]="!updateForm.valid"
        (click)="modal.close('Save click')"
      >
        Bearbeiten
      </button>
    </form>
  </div>
</ng-template>

<div class="container">
  <div class="row mt-4">
    <div class="col-6 offset-3">
      <h2>Nutzer Erstellen</h2>
      <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            placeholder="name@example.com"
          />
          <label for="email">Email</label
          ><span
            class="help-block"
            *ngIf="
              !signupForm.get('email').valid && signupForm.get('email').touched
            "
            >Bitte gib eine gültige Email an</span
          >
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="username"
            placeholder="max mustermann"
            formControlName="username"
          />
          <label for="username">Vor-/ und Zuname</label>
          <span
            class="help-block"
            *ngIf="
              !signupForm.get('username').valid &&
              signupForm.get('username').touched
            "
            >Gib bitte deinen Vor- und deinen Nachnamen an</span
          >
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="phoneNumber"
            placeholder="name@example.com"
            formControlName="phoneNumber"
          />
          <label for="phoneNumber">Telefonnummer</label>
          <span
            class="help-block"
            *ngIf="
              !signupForm.get('phoneNumber').valid &&
              signupForm.get('phoneNumber').touched
            "
            >Bitte gib eine gültige Telefonnummer an</span
          >
        </div>
        <button
          class="w-100 btn btn-lg btn-primary"
          type="submit"
          [disabled]="!signupForm.valid"
        >
          Sign up
        </button>
      </form>
    </div>

    <hr class="mt-4" />
    <div class="col">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
        <div class="form-group form-inline">
          Suche:
          <input class="form-control ml-2" type="text" formControlName="text" />
          <button class="btn btn-secondary mt-1" [disabled]="!searchForm.valid">
            Suchen
          </button>
        </div>
      </form>
      <div class="search" *ngIf="firstSearch">
        <h3>Neu erstellte und selbst gesuchte Nutzer</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nutzername</th>
              <th scope="col">Email</th>
              <th scope="col">Telefonnummer</th>
              <th scope="col">Rolle</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; index as i">
              <th scope="row">{{ user.id }}</th>
              <td>
                {{ user.username }}
              </td>
              <td>
                {{ user.email }}
              </td>
              <td>
                {{ user.phoneNumber }}
              </td>
              <td>
                {{ user.userRole }}
              </td>
              <td>
                <svg
                  (click)="openUpdate(content, user)"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-pencil-square"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                  />
                </svg>
              </td>
              <td>
                <svg
                  (click)="onDelete(user)"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-trash"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                  />
                </svg>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-toasts aria-live="polite" aria-atomic="true" class="mt-5"></app-toasts>
